*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.loginn-style{
    border: 1px solid black;
    width: 30%;
    margin: auto;
    background-color: red;
    margin-top: 60px;
    height: 250px;
}
.labbel{
    margin-left: 30%;
    font-size: 20px;
    color: white;
}
.innput-style{
    margin-left: 40%;
    width: 20%;
    height: 30px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-top: 20px;
}
